<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this指向练习</title>
</head>

<body>
    <script>
        var name = 111;
        var a = {
            name: 222,
            say: function () {
                console.log(this.name);
            }
        }

        var fun = a.say;
        fun();  //111
        a.say(); //222

        var b = {
            name: 333,
            say: function (fun) {
                fun();  //注意这里的Windows调用的方法
            }
        }
        // debugger
        b.say(a.say); //111
        b.say = a.say;
        b.say(); //333
    </script>
</body>

</html>